__pycache__/
*.DS_Store
.idea/

# Python
*.pyc
*~

# Env
.env
myvenv/
venv/

# Database
db.sqlite3

# Static folder at project root
/static/

# macOS
._*
.DS_Store
.fseventsd
.Spotlight-V100

# Visual Studio
.vscode/
.history/
*.code-workspace

test.ipynb
output/